body {
  background: #333;
  color: #fff; }

.navbar {
  border-bottom: #ffc107 3px solid;
  opacity: 0.8; }

#home-section {
  background: url("../img/background.jpeg") no-repeat;
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section .home-inner, #home-section #contact {
    padding-top: 150px; }
  #home-section button a {
    color: #ffc107; }
  #home-section button a:hover {
    color: #fff;
    text-decoration: none; }

#about-section img {
  width: 100%; }

#about-section .fa {
  color: #fff;
  padding: 4px;
  padding-top: 5px;
  font-size: 30px; }

#about-section .fa:hover {
  color: #ffc107; }

.card-body {
  color: rgba(0, 0, 0, 0.7); }

#main-footer #social .fa {
  color: #fff;
  padding: 4px;
  font-size: 30px; }

.copyright {
  color: #fff;
  font-weight: normal; }
  .copyright .container p {
    margin-top: 16px; }

#services-section {
  background: #f8f9fa;
  color: #333; }
  #services-section .fa {
    font-size: 45px;
    padding: 25px; }
  #services-section .p-4 {
    display: inline-block;
    text-align: center; }

/* MEDIA QUERIES */
@media (max-width: 800px) {
  #showcase h1 {
    font-size: 45px; }
  #showcase {
    text-align: center; }
  #main-footer {
    text-align: center; }
    #main-footer #social .float-right {
      padding-right: 65px; }
  #about-section .p-5 {
    padding: 0 !important; }
  .img-fluid {
    width: 30%;
    height: 30%;
    margin-top: 20px; } }
